:root {
	--Very-dark-blue: #0f1424;
	--Soft-blue: #56c2e6;

	--main-color: #1d2c67;

	--tw-gradient-to: hsl(335, 100%, 65%);
	--tw-gradient-from: hsl(6, 100%, 80%);
}

* {
	box-sizing: border-box;
}
body {
	font-family: "cairo";
	margin: 0;
	background-color: var(--Very-dark-blue);
}

.container {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.head {
	padding: 20px;
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	/* background-color: var(--main-color); */
	border: 4px solid var(--main-color);
}

.head * {
	outline: none;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	text-transform: capitalize;
	font-size: 18px;
}
.head input {
	width: 400px;
	max-width: 100%;
}

.head button {
	cursor: pointer;

	background: linear-gradient(
		to right,
		var(--tw-gradient-from),
		var(--tw-gradient-to)
	);
	color: #1d2c67;

	font-weight: bold;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.head button:hover {
	background: var(--main-color);
	color: var(--tw-gradient-from);
}

.show-data {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.repo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-color);

	color: var(--main-color);
	padding: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.repo .left {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 10px;
	color: var(--tw-gradient-from);
}
.main-profile {
	border: 2px solid var(--tw-gradient-from);
	outline: 2px solid var(--tw-gradient-from);
	outline-offset: -8px;
}
.main-profile .left {
	align-items: center;
	flex: 1;
	gap: 15px;
}
.repo.main-profile .left span * {
	color: var(--tw-gradient-from);
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: 700;
}

.repo > a {
	background: linear-gradient(
		to right,
		var(--tw-gradient-from),
		var(--tw-gradient-to)
	);
	color: var(--main-color);
	padding: 10px 15px;
	border-radius: 100vh;
	-webkit-border-radius: 100vh;
	-moz-border-radius: 100vh;
	-ms-border-radius: 100vh;
	-o-border-radius: 100vh;
	outline: 2px solid var(--main-color);
	outline-offset: -5px;
	border: 1px solid var(--main-color);
}

.repo .left span * {
	color: var(--Soft-blue);
}

@media ((max-width: 767px)) {
	.head {
		flex-direction: column;
		gap: 10px;
	}
	.head input {
		width: 100%;
	}
	.head * {
		width: 100%;
		text-align: center;
	}
	.repo {
		/* flex-direction: column; */
		flex-wrap: wrap;
		gap: 10px;
	}
}

.start {
	font-size: 22px;
	padding: 20px;
	color: var(--tw-gradient-from);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
  border: 2px solid var(--tw-gradient-from);
	outline: 2px solid var(--tw-gradient-from);
	outline-offset: -8px;
}
